{% extends 'layout.html' %} {% block title %}DSGVO{% endblock title %} {% block
content %} {% if has_error and error_message %}
<p class="muted">{{ error_message }}</p>
{% endif %} {% if has_success and success_message %}
<p class="muted">{{ success_message }}</p>
{% endif %}
<form class="plan-form" method="post">
    <p>
        <label for="dsgvo_email">Email Address</label><br />
        <input
            id="dsgvo_email"
            name="email"
            type="email"
            value="{{ email }}"
            required
        />
    </p>
    <div class="toolbar">
        <input
            class="btn"
            type="submit"
            value="Check"
            formaction="/dsgvo/check-mail"
        />
        <input
            class="btn"
            type="submit"
            value="Download Report"
            formaction="/dsgvo/download-report"
        />
        <input
            class="btn btn-danger"
            type="submit"
            value="Delete"
            formaction="/dsgvo/delete-by-email"
        />
        <input
            class="btn btn-danger"
            type="submit"
            value="Block"
            formaction="/dsgvo/block-mail"
        />
        <input
            class="btn"
            type="submit"
            value="Unblock"
            formaction="/dsgvo/unblock-mail"
        />
    </div>
</form>
{% if report %}
<pre>{{ report }}</pre>
{% endif %} {% endblock %}
